/auto-save-list/
/backups/
bookmarks
/eln-cache
/elpa/
/eshell/*
/games/
/old-inits/
/org-gcal/
/persist/
/request/
/snippets/*
/straight/
/transient
/url/
/var/
/webkit/
/history
/priv-lisp/*
/priv-lisp
/projects
/recentf
*.elc
/.org*
/.persps*
/abbrev_defs
/annotations*
/ebib-filters*
/network-security.data
/nov-places
org-clock-save.el
prot-eww-visited-history
custom.el
/my-lisp/zk/
/eww-bookmarks
/my-lisp/zk-luhmann/
/.emacs.desktop*
/oauth2-auto.plist
/my-lisp/link-hint-preview/
/my-lisp/link-hint-aw-select/
/init.el.~1~
